body {
  margin: 0;
}

.main-nav {
  border-bottom: 3px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 0px 15px;
  background: linear-gradient(45deg, #890202ad, #9d979761);
  color: white;
}

.menu {
  display: flex;
  justify-items: flex-start;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.session-info ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}